body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #4b134f, #c94b4b);
  font-family: 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}
.row {
  height: 400px;
}
.center {
  margin: 20rem auto;
  position: relative;
  text-align: center;
  top: 50%;
  width: 60%;
}
.mars-img {
  width: 14rem;
}
.martian-text {
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}
#space-bg {
  background-image: url('./images/space-bg.jpg');
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.box {
  position: relative;
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(201, 75, 75, 0.6);
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #fa8c8c;
  font-size: 0.75rem;
}
